<!-- list menu items(food & drinks) here -->
<div class="container main-menu">
  <div class="row">
  	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  	  <header>
  	  	<div class="header-menu">
  	  	  <div class="header-select-menu-type">
  	  	  	<%= select_tag 'menu-type', options_from_collection_for_select(@menus, "id","name") %>
  	  	  </div>
  	  	  <div class="new-menu-links">
  	  	    <%= link_to "New Menu type", new_menu_path %>
  	      </div>
  	  	</div>
  	  </header>
  	</div>
  </div>
</div>