<!-- list menu items(food & drinks) here -->
<div class="container main-menu">
  <div class="row">
  	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  	  <header>
  	  	<div class="header-menu">
  	  	  <div class="header-select-menu-type">
  	  	  	
  	  	  </div>
  	  	  <div class="new-menu-links">
  	  	    <%= link_to "New Menu type", new_menu_path %>
  	      </div>
  	  	</div>
  	  </header>
  	  <div class="container">
  	  	<div class="row">
  	  	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  	  	  	<div class="menu-type-items">
  	  	  	  <% @menus.each do |menu| %>
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                    <%= image_tag "food.jpg" %>
                    <div class="caption">
                      <h2><%= link_to menu.name, menu %></h2>
                    </div>
                  </div>
                </div>
  	  	  	  <% end %>
  	  	  	</div>
  	  	  </div>
  	  	</div>
  	  </div>
  	</div>
  </div>
</div>