<div class="wrapper">
  <nav id="sidebar">
  	<!-- Sidebar Header -->
  	<div class="sidebar-header">
  	  <h3>POS Items</h3>
  	</div>

  	<!-- Sidebar Links -->
  	<ul class="list-unstyled components">
  	  <li class="active"><%= link_to "Menu", menus_path %></li>
  	</ul>
  </nav>
</div>