<div class="panel panel-default">

  <div class="panel-heading">
  	<h4>Ordered Items</h4>
  </div>

  <div class="panel-body">
  	<div class="table-responsive">
	<table class="table table-hover" id="table-order-slip">
		<thead>
			<tr>
			  <th>Name</th>
			  <th>Amount</th>
			  <th>Quantity Ordered</th>
			</tr>
		</thead>
		 <tfoot>
          <tr>
            <td id="table-order-slip-footer">
            	<h3 style="color:green;"></h3>
            </td>
          </tr>
          <tr>
          	<td><button type="button" class="btncancel btn-danger btn-xs" id="btn-order-slip-cancel">CANCEL</button></td>
          	<td><button type="button" class="btnsubmit btn-primary btn-xs" id="btn-order-slip-submit">SUBMIT</button></td>
          </tr>
        </tfoot>
		<tbody>
		</tbody>
	</table>
	</div>
  </div>

</div>